<!-- SEO Title -->
<title>{{settings.title}}</title>

<!-- Web configuratión -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Meta tags for SEO -->
<meta name="author" content="{{settings.author}}" />
<meta name="description" content="{{settings.description}}">
<meta name="keywords" content="{{settings.keywords}}" />
<meta name="theme-color" content="{{settings.themeColor}}"/>
<link rel="icon" href="{{settings.favicon}}" />
<link rel="canonical" href="{{settings.url}}">
<link rel="apple-touch-icon" href="{{settings.favicon}}">

<!-- Meta tags for Twitter. Show result in https://cards-dev.twitter.com/validator -->
<meta name="twitter:card" content="{{settings.twittercard}}">
<meta name="twitter:site" value="{{settings.twittersite}}">
<meta name="twitter:creator" content="{{settings.twitterusername}}" />
<meta name="twitter:title" value="{{settings.title}}">
<meta name="twitter:description" content="{{settings.description}}">
<meta name="twitter:image" content="{{settings.twitterimage}}">

<!-- Meta tags for generic social sharing -->
<meta property="og:site_name" content="{{settings.sitename}}"/>
<meta property="og:title" content="{{settings.title}}">
<meta property="og:description" content="{{settings.description}}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{settings.image}}">
<meta property="og:url" content="{{settings.url}}">

<!-- Import fonts -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap" rel="stylesheet">

<!-- Import stylesheet -->
<link rel="preload stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="preload stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/styles/style.css" />

<!-- WPA Config -->
<link rel="manifest" href="manifest.json">
<script>
if(location.protocol == 'http:') location.protocol = 'https:';
if('serviceWorker' in navigator) {
  navigator.serviceWorker.register('sw.js')
    .then(reg => console.log('Service Worker registered', reg))
    .catch(err => console.error('Service Worker **not** registered', err));
}
else {
  console.warn('Service Worker not supported in this browser');
}    
</script>

<!-- Import javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.1.0/iconify.min.js" defer></script>
<script src="https://embed.twitch.tv/embed/v1.js"></script>
<script src="/script.js"></script>